@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@300&display=swap');

h1 {
  font-family: 'Fredoka One', cursive;
}

body {
  text-align: center;
  font-family: Lato;
  display: grid;
  background: seashell;
}

form {
  width: 80%;
  margin: auto;
}

label {
  float: left;
  width: 50%;
}

input,
textarea {
  float: left;
  width: 50%;
  margin: 10px;
  padding: 10px;
  background: lemonchiffon;
  font-family: Lato;
  border: none;
}

fieldset {
  margin: 10px;
  font-weight: bold;
  background: #FEFEFE;
}

button {
  background: plum;
  font-size: 15px;
  padding: 10px;
  border: none;
  float: right;
  color: white;
}

legend {
  background: #F76C6C;
  padding: 5px;
  color: white;
}
